<html>
    <head>
        <title>Books Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog DaniBooks</a></h1>
        </div>

        <div>
            <p>Published: 1.04.2026 10:00</p>
            <h2><a href="">Libros favoritos de 2025</a></h2>
            <p>
                Durante el año 2025 lei un total de 22 libros,
                entre mis favoritos hay ciencia ficcion, desarrollo personal,
                ficcion historica y romance. La lista podria llegar a ser corta,
                sin embargo, es lo necesario para apreciar las lecturas. Entre 
                estos se encuentran la trilogia de La Guerra de la Amapola de R.F.Kuang,
                la precuela de los juegos del hambre, Balada de Pajaros Cantores y serpientes
                y la Teoria del Amor de Ali Hazelwood.
            </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>